<p style="color: green"><%= notice %></p>

<%= render @product %>


<%
=begin%>
<div>
  <%= link_to "Edit this product", edit_seller_product_path(@product) %> |
  <%= link_to "Back to products", seller_product_path %>

  <%= button_to "Destroy this product", @product, method: :delete %>
</div>
<%
=end
%>